button {
    color: rgba(119, 129, 110, 0.904);
    background-color: rgba(255, 210, 127, 0);
    font-size: 1.5em;
    margin: 0.5em;
    border: none;
    outline: none;
    position: fixed;
    transition: color 1s;
    top: 10px;
    left: 10px;
}

button:hover {
    color: rgb(146, 236, 90);
}