body{
    background-image: url(/juin-g60085/batchcooking/style/img/fond_calendrier.jpg);
    background-size: cover;
}
.calendar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Great Vibes', cursive;

}

div .jour{
    padding: 10px;
}
.jour:hover,
.jour:focus-visible{
    background-color: rgba(253, 253, 253, 0.089);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.089);
}


h1{
    color: rgba(184, 147, 34, 0.806);
    
}
p{

    padding-right: 5px;
    margin: 20px;
    color: rgba(184, 147, 34, 0.806);
    font-size: 1em;
}
p:hover{
    background-color: rgba(253, 253, 253, 0.18);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.18);

}
