html {
    height: 100%;
}

body {
    background-image: url(../style/img/fond_calendrier.jpg);
    background-size: cover;
    margin: 0;
}

#calendar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 45px;
    font-family: 'Amatic SC', cursive;
}

.jour {
    padding: 0 10px;
}

.jour:hover {
    background-color: rgba(253, 253, 253, 0.089);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.089);
}

h1 {
    color: rgba(250, 235, 215, 0.735);
    text-shadow: 1px 0 rgba(74, 185, 34, 0.441);
    font-size: 3em;
}

p {
    color: rgba(225, 158, 69, 0.747);
    font-size: 1.5em;
    font-weight: bolder;
}

p:hover {
    background-color: rgba(253, 253, 253, 0.18);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.18);
    cursor: pointer;
}