#calendar {
    background-image: url(../style/img/fond_calendrier.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 2em;
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

.jour {
    padding: 0 1em;
}

.jour:hover {
    background-color: rgba(253, 253, 253, 0.089);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.089);
}

#calendar h1 {
    color: rgba(250, 235, 215, 0.735);
    text-shadow: 1px 0 rgba(74, 185, 34, 0.441);
    margin-bottom: 0.2em;
    font-size: 2.5vw;
}

#calendar p {
    color: rgba(225, 158, 69, 0.747);
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 1.3vh;
}

#calendar p:hover {
    background-color: rgba(253, 253, 253, 0.18);
    box-shadow: 2px 2px 5px 5px rgba(253, 253, 253, 0.18);
    cursor: pointer;
}