#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 5em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 13em;
    height: 21em;
    margin: 1em;
    border: 2px solid rgba(222, 201, 163, 0.228);
    border-radius: 20px;
    background-color: rgb(230, 218, 202);
    position: relative;
}

.card:hover{
    box-shadow: 2px 2px 6px 8px rgba(153, 196, 98, 0.74);
}

.photo {
    object-fit: cover;
    height: 40%;
    width: 100%;
    border-radius: 19px 19px 0 0;
}

.titre {
    font-family: 'Satisfy', cursive;
    color: rgb(246, 73, 10);
    text-shadow: 0px 1px rgb(21, 7, 2);
    height: 50%;
    margin-left: 9px;
    font-size: 1.5em;
}

.tags {
    margin: 16px 9px;
}

.protéines,
.féculents,
.légumes {
    border-radius: 10px;
    padding: 5px 2px;
    margin: 2px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.3em;
}

.protéines {
    background-color: rgba(129, 139, 50, 0.854);
}

.légumes {
    background-color: rgba(202, 189, 39, 0.854);
}

.féculents {
    background-color: rgba(169, 190, 9, 0.854);
}

.icônes {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icônes button {
    padding: 2px;
    color: rgb(114, 235, 62);
    background-color: rgba(255, 210, 127, 0);
    opacity: 0.80;
    font-size: 1.3em;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: rgb(28, 21, 12);
}

.selected {
    box-shadow: 2px 2px 6px 8px rgba(153, 196, 98, 0.74);
}

.scheduled {
    background-color: rgba(231, 170, 89, 0.493);
}