body {
    background-color: rgba(183, 169, 158, 0.58);
    padding: 0 10px;
    padding-top: 0;
}

#planning-container {
    display: grid;
    grid-template-columns: 1.3fr 1.7fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title title"
        "calendar cards"
        "shoppingList cards";
    grid-gap: 0.7em;
    height: 100%;
}

#planningTitle {
    grid-area: title;
    text-align: center;
    font-size: 2.3em;
    margin: 0;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    background-color: rgb(18, 16, 16);
    color: rgba(223, 160, 58, 0.973);
}

#cards {
    grid-area: cards;
    background-color: rgb(235, 231, 226);
    box-shadow: 1px 1px 5px 5px rgba(97, 94, 93, 0.792);
    border-radius: 10px;
    height: 90vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background: rgb(243, 240, 218);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(239, 191, 103), rgb(123, 230, 123));
    border-radius: 100vw;
    border: .2em solid rgba(167, 229, 91, 0.89);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(52, 62, 79);
}

#calendar {
    grid-area: calendar;
    height: 71vh;
    box-shadow: 1px 1px 5px 5px rgb(110, 107, 104);
    border-radius: 10px;
}

#shoppingList button {
    grid-area: shoppingList;
    background-image: url(../style/img/fond_shoppingButton.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px rgb(97, 94, 93);
    border: none;
    padding: 0;
    height: 18vh;
    width: 100%
}

#shoppingList button p {
    color: rgba(240, 248, 255, 0.737);
    font-family: 'Amatic SC', cursive;
    font-size: 2vw;
    font-weight: bold;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
}

#shoppingList button:hover {
    cursor: pointer;
}