html, body {
    height: 100%;
}

#planning-container {
    display: grid;
    grid-template-columns: 1.2fr 1.7fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title title"
        "calendar cards"
        "shoppingList cards";
    background-color: rgba(183, 169, 158, 0.58);
    grid-gap: 0.8em;
    padding: 0.8em;
    padding-top: 0;
    

}

#planningTitle {
    grid-area: title;
    text-align: center;
    font-size: 2.3em;
    margin: 0;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    background-color: rgb(18, 16, 16);
    color: rgba(223, 160, 58, 0.973);
}

#cards {
    grid-area: cards;
}

#calendar {
    grid-area: calendar;
    height: 69vh;
}

#shoppingList button {
    grid-area: shoppingList;
    background-image: url(../style/img/fond_shoppingButton.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px rgb(97, 94, 93);
    border: none;
    padding: 0;
    height: 19vh;
    width: 100%;
}

#shoppingList button p {
    color: rgba(240, 248, 255, 0.737);
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
}

#shoppingList button:hover {
    cursor: pointer;
}