#recipe-container {
    background-image:
        linear-gradient(rgba(232, 213, 186, 0.735), rgba(232, 213, 186, 0.735)),
        url(../style/img/fond_recipe.jpg);
    background-size:cover;
}

#recipe-container-background{
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 7fr;
    grid-template-rows: auto 0.5fr 1fr;
    grid-template-areas: "retour titre ."
        "retour image ingrédients"
        "retour étapes étapes";
    grid-gap: 4px;
}

#recipe-container h1 {
    grid-area: titre;
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: rgb(85, 52, 17);
    text-shadow: 1px 1px rgba(229, 210, 168, 0.386);
}

#recipe-image {
    grid-area: image;
    align-self: center;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.475);
    border-radius: 10px;
    width: 100%;
    height: 200px;
    min-width: 200px;
    object-fit: cover;
    opacity: 90%;
}

#recipe-ingredients {
    font-family: 'Satisfy', cursive;
    grid-area: ingrédients;
    align-self: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0px rgba(194, 189, 170, 0.877);
}

#recipe-ingredients ul {
    list-style-type: circle;
    align-self: center;
}

#recipe-steps {
    font-family: 'Satisfy', cursive;
    grid-area: étapes;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0px rgba(194, 189, 170, 0.877);
}