#shopping-list-container{
    background-image: url(../style/img/fond_shopping_list.png);
    background-size: cover;
   
    height: 100vh;

}

#catégories {
    background-color: rgba(45, 41, 34, 0.689);
    box-shadow: 1px 1px 7px 4px rgba(45, 41, 34, 0.689);
    color: aliceblue;
    font-family: 'Satisfy', cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4em;
    margin: 0 100px;
    border-radius: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    opacity: 70%;
    font-size: 4em;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    color: rgba(240, 248, 255, 0.829);
    padding-top: 10px;
}

h2 {
    font-family: 'Amatic SC', cursive;
}