<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Plannificateur</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="cuisine à domiciles">
    <meta name="description" content="plannificateur de repas">
    <!--style sheets-->
    <link rel="stylesheet" href="../style/calendar.css">
    <link rel="stylesheet" href="../style/common.css">
    <!--fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&family=Great+Vibes">
</head>

<body>
    <div id="calendar">
        <div class="jour">
            <h1>Lundi</h1>
            <p>Riz Blanc</p>
            <p>Chili</p>
            <p>Lasagne</p>
        </div>
        <div class="jour">
            <h1>Mardi</h1>
        </div>
        <div class="jour">
            <h1>Mercredi</h1>
        </div>
        <div class="jour">
            <h1>Jeudi</h1>
        </div>
        <div class="jour">
            <h1>Vendredi</h1>
        </div>
        <div class="jour">
            <h1>Samedi</h1>
        </div>
        <div class="jour">
            <h1>Dimanche</h1>
            <p>Salade césar</p>
            <p>Soupe</p>
        </div>
    </div>
</body>

</html>