<!DOCTYPE html>
<html>

<head>
    <title>Calendar</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="plannificateur de repas">
    <meta name="description" content="cuisine à domicile">
    <link rel="stylesheet" href="../style/calendar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&family=Great+Vibes">
</head>

<body>
        <div class="calendar">
            <div class="jour">
                <h1>Lundi</h1>
                <p>jhlg</p>
            </div>
            <div class="jour">
                <h1>Mardi</h1>
            </div>
            <div class="jour">
                <h1>Mercredi</h1>
            </div>
            <div class="jour">
                <h1>Jeudi</h1>
            </div>
            <div class="jour">
                <h1>Vendredi</h1>
            </div>
            <div class="jour">
                <h1>Samedi</h1>
            </div>
            <div class="jour">
                <h1>Dimanche</h1>
            </div>
        </div>
</body>

</html>