<!DOCTYPE html>
<html lang="fr">

<head>
    <title>BatchCooking</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="recettes, repas">
    <meta name="description" content="cuisine à domicile">
    <link rel="stylesheet" href="../style/cards.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="cards">
        <div id="recetteChili">
            <img src="../img/cards/chili.jpg" alt="chili" title="chili" class="photo">
            <div class="icônes">
                <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
            </div>


            <h3 class="titre">Chili</h3>
            <p class="tags">
                <span class=protéines>Protéines</span>
                <span class=légumes>Légumes</span>
            </p>
        </div>



        <div id="recetteRiz">
            <img src="../img/cards/riz.jpg" alt="riz" title="riz" class="photo">
            <div class="icônes">
                <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
            </div>
            <h3 class="titre">Riz</h3>
            <p class="tags">
                <span class=féculents>Féculents</span>
            </p>
        </div>

        <div id="recetteLasagne">
            <img src="../img/cards/lasagne.jpg" alt="lasagne" title="lasagne" class="photo">
            <div class="icônes">
                <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
            </div>
            <h3 class="titre">Lasagnes</h3>
            <p class="tags">
                <span class=protéines>Protéines</span>
                <span class=légumes>Légumes</span>
                <span class=féculents>Féculents</span>
            </p>
        </div>
    </div>

</body>

</html>