<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Planning Interro2</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="cuisine à domicile">
    <meta name="description" content="planning, batchcooking">
    <!--style sheets-->
    <link rel="stylesheet" href="../style/planning.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/calendar.css">
    <link rel="stylesheet" href="../style/cards.css">
    <!--fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&family=Great+Vibes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="planning-container">
        <h1 id="planningTitle">batchCooking.esi</h1>
        <!--calendar-->
        <div id="calendar">
            <div class="jour">
                <h1>Lundi</h1>
                <p>Riz Blanc</p>
                <p>Chili</p>
                <p>Lasagne</p>
            </div>
            <div class="jour">
                <h1>Mardi</h1>
            </div>
            <div class="jour">
                <h1>Mercredi</h1>
            </div>
            <div class="jour">
                <h1>Jeudi</h1>
            </div>
            <div class="jour">
                <h1>Vendredi</h1>
            </div>
            <div class="jour">
                <h1>Samedi</h1>
            </div>
            <div class="jour">
                <h1>Dimanche</h1>
                <p>Salade César</p>
                <p>Spaghetti</p>
                <p>Soupe</p>
            </div>
        </div>
        <!--cards-->
        <div id="cards">
            <div id="recetteChili" class="card selected">
                <img src="../img/cards/chili.jpg" alt="chili" title="chili" class="photo">
                <div class="icônes">
                    <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
                </div>
                <h3 class="titre">Chili</h3>
                <p class="tags">
                    <span class=protéines>Protéines</span><!--
                 --><span class=légumes>Légumes</span>
                </p>
            </div>
            <div id="recetteRiz" class="card scheduled">
                <img src="../img/cards/riz.jpg" alt="riz" title="riz" class="photo">
                <div class="icônes">
                    <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
                </div>
                <h3 class="titre">Riz</h3>
                <p class="tags">
                    <span class=féculents>Féculents</span>
                </p>
            </div>
            <div id="recetteLasagne" class="card">
                <img src="../img/cards/lasagne.jpg" alt="lasagne" title="lasagne" class="photo">
                <div class="icônes">
                    <button class="recette"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="calendrier"><i class="fa-solid fa-calendar-day"></i></button>
                </div>
                <h3 class="titre">Lasagnes</h3>
                <p class="tags">
                    <span class=protéines>Protéines</span><!--
                 --><span class=légumes>Légumes</span><!--
                 --><span class=féculents>Féculents</span>
                </p>
                </div>
            </div>
        </div>
        <div id="shoppingList">
            <button>
                <p>Liste de courses</p>
            </button>
        </div>
    </div>
</body>

</html>