<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Recette de cuisine</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="cuisine à domicile, recettes, repas">
    <meta name="description" content="recette de cuisine">
    <!--style sheets-->
    <link rel="stylesheet" href="../style/recipe.css">
    <link rel="stylesheet" href="../style/back-nav.css">
    <link rel="stylesheet" href="../style/common.css">
    <!--fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy&family=Great+Vibes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="recipe-container">
        <h1>Spaghetti Bolognaise</h1>
        <button><i class="fa-solid fa-circle-left"></i></button>
        <img src="../img/recipes-pictures/spaghetti.jpg" alt="spaghetti" id="image">
        <div id="ingrédients">
            <ul>
                <li>250g de spaghetti</li>
                <li>1l d'eau</li>
                <li>2c.à.c de sel</li>
                <li>200gr de viande haché</li>
                <li>4 tomates</li>
                <li>1 oignon</li>
                <li>1c.à.s d'huile d'olive</li>
                <li>2-3 feuilles de basiliques</li>
            </ul>
        </div>
        <div id="étapes">
            <ol>
                <li>Dans une poele, éplucher l'oignon et le faire réduire avec l'huile d'olive.</li>
                <li>Ajoutez la viande et cuisez la à feu vif.</li>
                <li>Couper les tomates en quartier et mettez les avec la viande et les oignons.</li>
                <li>Pendant que la sauce mijote. faite bouillir l'eau.</li>
                <li>Lorsque l'eau bout, ajoutez le sel et les spaghetti Mettez un cowercle et baissez le feu.</li>
                <li>Laissez cuire 10 minutes.</li>
                <li>Sewez et mettez les quelques feuilles de basilic sur la sauce.</li>
            </ol>
        </div>
    </div>
</body>

</html>