<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Liste de courses</title>
    <meta charset="utf-8">
    <meta name="author" content="g60085">
    <meta name="keywords" content="cuisine à domicile">
    <meta name="description" content="liste de courses">
    <!--style sheets-->
    <link rel="stylesheet" href="../style/shopping-list.css">
    <link rel="stylesheet" href="../style/back-nav.css">
    <link rel="stylesheet" href="../style/common.css">
    <!--fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Satisfy">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="shopping-list-container">
            <h1>Liste de courses</h1>
            <button class="back-nav"><i class="fa-solid fa-circle-left"></i></button>
            <div id="catégories">
                <div>
                    <h2>Fruits et légumes</h2>
                    <ul>
                        <li>4 Tomates</li>
                        <li>300g Tomates pelées</li>
                        <li>400g de pommes de terre</li>
                        <li>Haricots</li>
                        <li>Maîs</li>
                        <li>2 Courgettes</li>
                        <li>3 aubergines</li>
                        <li>2 poivrons</li>
                        <li>3 pommes</li>
                    </ul>
                </div>
                <div>
                    <h2>Epices et aromats</h2>
                    <ul>
                        <li>2c.à.s. de sel</li>
                        <li>3-4 feuilles de basilic</li>
                        <li>2c.à.c. de romarin</li>
                        <li>1c.àc. de paprika</li>
                        <li>1c.àc; de cumin</li>
                    </ul>
                </div>
                <div>
                    <h2>Viande</h2>
                    <ul>
                        <li>500g de filet de poulet</li>
                        <li>200g de viande de campagne</li>
                        <li>2 saucisses de campagne</li>
                        <li>1 poulet</li>
                    </ul>
                </div>
                <div>
                    <h2>Riz, Pâtes...</h2>
                    <ul>
                        <li>250g de spaghetti</li>
                        <li>500g de pâte pour lasagne</li>
                        <li>200g de riz</li>
                    </ul>
                </div>
                <div>
                    <h2>Produits laitiers</h2>
                    <ul>
                        <li>100g de fromage pour pâtes</li>
                    </ul>
                </div>
            </div>
        </div>

</body>

</html>